<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631699268209-esetq3op0850qrjnff20ctrfodmvalpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631699268209-esetq3op0850qrjnff20ctrfodmvalpa</string>
	<key>API_KEY</key>
	<string>AIzaSyDmAllJPDUsZ-1FmZiG-VXK6iHRkZj6ECM</string>
	<key>GCM_SENDER_ID</key>
	<string>631699268209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.nikota.vk-pro</string>
	<key>PROJECT_ID</key>
	<string>pro-nikota-vk-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-nikota-vk-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631699268209:ios:d2a8e635c5eda1f8</string>
	<key>DATABASE_URL</key>
	<string>https://pro-nikota-vk-pro.firebaseio.com</string>
</dict>
</plist>